<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/styles.css">
    <title>Job portal</title>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="#">JobPortal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/home" >Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/jobs">jobs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              city
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/bangalore">Bangalore</a>
              <a class="dropdown-item" href="/hydrabad">Hydrabad</a>
              <a class="dropdown-item" href="/chennai">Chennai</a>
              <a class="dropdown-item" href="/noida">Noida</a>
              <a class="dropdown-item" href="/gurugram">Gurugram</a>
              <a class="dropdown-item" href="/jaipur">Jaipur</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/post_jobs">post job</a>
          </li>
        </ul>
      </div>
      <a class="nav-link" style="margin-left: 20px;" href="#">Get a Subscription</a>
      <div>
        <label for="">Upload Resume</label>
        <input name="file1" type="file"  accept="application/pdf">
      </div>
      
      <form id="search" class="form-inline" action="/requestSearch" method="POST">
        <input name="searchinput" class="form-control mr-sm-2" type="text" placeholder="Search job here" >
        <button type="button/submit" class="btn btn-outline-primary" onclick="function clicked(event){event.preventDefault();}">Search</button>
      </form>
      <a class="nav-link" href="/log_out">Log Out</a>
    </nav>
    <hr>
    