<%- include("header") -%>
<h1 style = "color: cornflowerblue; 
            position: absolute;
            margin-left: 40%;
            top: 30%;"
>Job Posted Successfully</h1>

<%- include("footer") -%>